.cabecera
{
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(151, 147, 147, 0.2);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}
.cabecera_contenedor
{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.menu_cabecera
{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_item
{
    color: #ffffff;
    width: 16%;
    font-size: 1vw;
    text-align: center;
    font-weight: bold;
    font-family: 'Audiowide', cursive;
    transition: font-size 500ms ease-in, text-shadow 500ms ease-in;
}
.menu_item:hover
{
    font-size: 1.2vw;
    text-shadow: 0 0 10px orangered;
}